/* Fix for FP-Leggero Theme */
pre {
    width: auto !IMPORTANT;
}

/* unescaped-markup */
[class*=lang-] script[type='text/plain'],[class*=language-] script[type='text/plain'],script[type='text/plain'][class*=lang-],script[type='text/plain'][class*=language-] {
	display:block;
	font:100% Consolas,Monaco,monospace;
	white-space:pre;
	overflow:auto
}


/* line-numbers */
pre[class*=language-].line-numbers {
	position:relative;
	padding-left:3.8em;
	counter-reset:linenumber
}

pre[class*=language-].line-numbers>code {
	position:relative;
	white-space:inherit
}

.line-numbers .line-numbers-rows {
	position:absolute;
	pointer-events:none;
	top:0;
	font-size:100%;
	left:-3.8em;
	width:3em;
	letter-spacing:-1px;
	border-right:1px solid #999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.line-numbers-rows>span {
	display:block;
	counter-increment:linenumber
}

.line-numbers-rows>span:before {
	content:counter(linenumber);
	color:#999;
	display:block;
	padding-right:.8em;
	text-align:right
}
